.Sustainalearn {
  text-align: center;
  
  color: white;
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: content-box;
}
